<%= breadcrumbs(:data_sets, @data_sets) %>

<h1><%= @data_set.name %> <small>#<%= @data_set.id %></small></h1>
<p><%= @data_set.description %></p>

<%= render "data_sets/data_objects/table" %>

<%= link_to glyph(:plus) + " New Data Object", new_data_set_data_object_path(@data_set), class: "btn btn-default" %>
</div>
