<%= simple_form_for @authorized_entity, wrapper: :horizontal_form do |f| %>
	<%= f.error_notification %>

	<div class="form-inputs">
		<%= f.input :authorizedEntityName, label: "Name" %>
		
		<%= f.simple_fields_for :mainContact do |contact| %>
			<h3>Main Contact Information</h3>
			<p>
				Specify contact information for the main contact related the data-sharing process.
				This information is used when generating parent consent forms.
			</p>
			<%= contact.input :name, required: false %>
			<%= contact.input :title, required: false %>
			<%= contact.input :email, required: false %>
			<%= contact.input :phone, required: false %>
			<%= contact.input :mailingAddress, required: false, label: "Mailing Address", hint: "Parents or organizations should send formal communications to this address related to data sharing or to revoke consent." %>
			<%= contact.input :webAddress, required: false, label: "Web Address", hint: "This web address may be specific to sharing student data, such as a web site that parents can access to learn more about the data-sharing process." %>
		<% end %>

	</div>

	<div class="form-actions">
		<%= f.button :submit %>
	</div>
<% end %>
