<%= simple_form_for @authorized_entity, wrapper: :horizontal_form do |f| %>
	<%= f.error_notification %>

	<div class="form-inputs">
		<%= f.input :name, label: "Name" %>
		<%= f.input :externalServiceDescription, required: false, label: "Description", input_html: { value: @service.description } %>
		<%= f.simple_fields_for :mainContact, f.object.mainContact do |contact| %>
			<%= contact.input :webAddress, required: true, label: "Student Success Link Subdomain", input_html: { value: @authorized_entity.mainContactObject.partialWebAddress }, hint: 'Only enter numbers, letters, or a dash. Subdomain must be unique.' %>

			<h3>Main Contact Information</h3>
			<p>
				Specify contact information for the main contact related the data-sharing process.
				This information is used when generating parent consent forms.
			</p>
			<%= contact.input :name, required: true, input_html: { value: @authorized_entity.mainContactObject.name } %>
			<%= contact.input :title, required: false, input_html: { value: @authorized_entity.mainContactObject.title } %>
			<%= contact.input :email, required: true, input_html: { value: @authorized_entity.mainContactObject.email } %>
			<%= contact.input :phone, required: false, input_html: { value: @authorized_entity.mainContactObject.phone } %>
			<%= contact.input :mailingAddress, required: false, label: "Mailing Address", hint: "Parents or organizations should send formal communications to this address related to data sharing or to revoke consent.", input_html: { value: @authorized_entity.mainContactObject.mailingAddress } %>

		<% end %>

	</div>

	<div class="form-actions">
		<%= f.button :submit %>
	</div>
<% end %>
