<%= breadcrumbs(:authorized_entities, @authorized_entity, "PSESD-CBO Data Sharing Agreement") %>

<section class="intro">
	<h1>PSESD-CBO Data Sharing Agreement</h1>
	<p>
		Use your browser's print function or save this as a PDF file to share.
	</p>
</section>

<br>

<section class="printable-form">
	<div class="row">
		<div class="col-xs-12">
			<p class="text-center"><strong>AGREEMENT</strong></p>
      <p class="text-center">Between</p>
      <p class="text-center"><strong>PUGET SOUND EDUCATIONAL SERVICE DISTRICT</strong></p>
      <p class="text-center">And</p>
      <p class="text-center"><strong><%= @authorized_entity.name.upcase %></strong></p>
      <p class="text-center">Regarding</p>
      <p class="text-center"><strong>STUDENT SUCCESS LINK DATA PARTNERSHIP</strong></p>

      <br>

			<p>This Agreement (the “Agreement”) regarding the Student Success Link data partnership is entered into by and between the Puget Sound Educational Service District (“PSESD”), a regional educational agency, and <strong><%= @authorized_entity.name %></strong> ("<%= @authorized_entity.name %>"), a Washington non-profit corporation (collectively, the “Parties”).</p>

      <p class="text-center"><strong><u>BACKGROUND</u></strong></p>

      <p>PSESD administers a secure database (“Student Success Link”) that allows authorized community based organizations (“CBOs”) operating in seven Puget Sound school districts (Auburn, Federal Way, Highline, Kent, Renton, Seattle, Tukwila) to collaborate with appropriate school district(s).  Through this collaboration, the CBOs and school districts are able to identify and provide academic and support services for students.  The goals of Student Success Link are to:</p>

      <ol>
        <li>Securely share real-time academic data with CBOs that have parental consent and school district approval to use the data to understand and improve student outcomes.</li><br>
        <li>Build capacity within organizations to use data to improve practice, and to safeguard student data across their programs, through training and coaching.</li><br>
        <li>Strengthen the partnerships between schools, community partners, and families by increasing shared understanding of each other’s work through the shared use of data.</li>
      </ol>

      <p>All authorized CBOs, including <%= @authorized_entity.name %>, have entered into separate data sharing agreements with the appropriate school districts that establish the specific purposes and parameters for their use of student data.  Pursuant to those agreements, disclosure of student data will only be provided to the authorized CBOs and PSESD where parents or eligible students have authorized release of the data by written consent.  In order to better meet the Student Success Link goals and coordinate services, <%= @authorized_entity.name %> also would like to allow for school district staff and other CBO partners to be able to identify in which of <%= @authorized_entity.possessive_name %> programs students participate.</p>

      <p>The Parties’ purpose in entering into this Agreement is to clarify the Parties’ roles, responsibilities and authority related to Student Success Link.</p>


      <p class="text-center"><strong><u>AGREEMENT</u></strong></p>

      <ol>
        <li><u>Personally Identifiable Information.</u>  As used in this Agreement, “Personally Identifiable Information” means that student information identified as such in the FERPA, 20 U.S.C. Sec. 1232g, and specifically in the definition of “Personally Identifiable Information” in 34 C.F.R. § 99.3.</li><br>

        <li><u>Data Sharing.</u><br><br>

          <ul>
            <li class="list-unstyled">2.1. PSESD shall maintain and administer the Student Success Link secure database.  All <%= @authorized_entity.name %> data in Student Success Link shall be loaded directly into Student Success Link by <%= @authorized_entity.name %>.  PSESD shall set permissions for the data that restrict access to what data is available for any other user of Student Success Link to view in accordance with this Agreement and future direction from <%= @authorized_entity.name %>.</li><br>
            <li class="list-unstyled">2.2.	<%= @authorized_entity.name %> may submit the following data:<br><br>
              <ul>
                <li class="list-unstyled">2.2.1.	Student Name and contact information (phone number, email address, mailing address)</li><br>

                <li class="list-unstyled">2.2.2.	Student school district and Student ID Number</li><br>

                <li class="list-unstyled">2.2.3.	Contact information for parents/guardians or emergency contacts</li><br>

                <li class="list-unstyled">2.2.4.	Programs in which student participates, including dates of participation and cohort or group membership</li><br>

                <li class="list-unstyled">2.2.5.	Adult–student relationships (e.g., mentor and tutor assignments)</li><br>

                <li class="list-unstyled">2.2.6.	Academic attributes not available from school district, such as College Bound Scholarship enrollment</li><br>
              </ul>
            </li>

            <li class="list-unstyled">2.3.	<%= @authorized_entity.name %> may request that PSESD change or add to the data fields it enters into Student Success Link by written correspondence to PSESD.</li><br>

            <li class="list-unstyled">2.4.	<%= @authorized_entity.name %> authorizes PSESD to allow the following Student Success Link users to view the identity of students enrolled in <%= @authorized_entity.possessive_name %> programs:</li><br>
              <ul>
                <li class="list-unstyled">(1) School District(s) employees who work, or may work, with the student:</li><br>
                <li class="list-unstyled">&nbsp; Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     No </li><br>
                <li class="list-unstyled">(2) Other Student Success Link partner CBOs (current list available at studentsuccesslink.org/partners):</li><br>
                <li class="list-unstyled">&nbsp; Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     No </li><br>
              </ul>

            <li class="list-unstyled">2.5. <%= @authorized_entity.name %> represents and warrants to PSESD that it has the authority, whether by written consent or otherwise, to share all data, including Personally Identifiable Information, that (a) it submits to Student Success Link and (b) is identified in this Agreement as viewable by other Student Success Link users.  The Parties agree that <%= @authorized_entity.name %> may make data beyond program participation available for other Student Success Link users to view by way of future amendment of this Agreement.</li><br>
          </ul>
        </li>

        <li><u>Data Security and Protection of Privacy.</u> The Parties seek to protect the privacy and data security of all Personally Identifiable Information.  To ensure that the required confidentiality of Personally Identifiable Information shall always be maintained, the Parties agree to the following:</li><br>
          <ul>
            <li class="list-unstyled">3.1.	Data in Student Success Link shall be subject to restricted access.</li><br>

            <ul>
              <li class="list-unstyled">3.1.1.	<%= @authorized_entity.name %> is responsible for providing PSESD the restrictions for its data that will be entered into Student Success Link.  Such restrictions may include which organizations, if any, may view specific data.</li><br>

              <li class="list-unstyled">3.1.2.	Personally Identifiable Information from the school district is available for <%= @authorized_entity.name %> to view to the extent allowed by <%= @authorized_entity.possessive_name %> data-sharing agreement with the school district and the underlying written consent.  </li><br>
            </ul>

            <li class="list-unstyled">3.2.	<%= @authorized_entity.name %> represents and warrants to PSESD that it will access, use, share and store school district student Personally Identifiable Information in Student Success Link only as authorized by <%= @authorized_entity.possessive_name %> data-sharing agreement with the school district and the underlying written consent.  This includes, but is not limited to, abiding by any confidentiality and re-disclosure restrictions contained in those documents.</li><br>

            <li class="list-unstyled">3.3.	Nothing in this Agreement may be construed to allow any party to maintain, use, disclose, or share Personally Identifiable Information in a manner not allowed under federal or state law or regulation.</li><br>

            <li class="list-unstyled">3.4.	PSESD understands that this Agreement does not convey ownership of <%= @authorized_entity.possessive_name %> data to PSESD or any other entity.  <%= @authorized_entity.name %> may request at any time that any data it has submitted to Student Success Link be removed from Student Success Link and destroyed from any sources designated by <%= @authorized_entity.name %>.</li><br>
          </ul>

          <li><u>Breach of Data Security.</u>  If a Party detects a breach in the IT security such that Personally Identifiable Information may have been accessed or disclosed without proper authorization, it will give notice to the other Party within one business day of discovering the breach, and will take corrective action as soon as practicable to eliminate the cause of the breach.  The Party whose IT system was breached will be wholly responsible for ensuring that appropriate notice is made to those individuals whose personal information may have been improperly accessed or disclosed.</li><br>

          <li><u>Term of Agreement.</u>  This Agreement shall commence on the date of execution, and end on December 31, 2017, or by termination by one of the Parties pursuant to the terms of this Agreement.  At any time this Agreement may be extended by mutual agreement of the Parties in writing.</li><br>

          <li><u>Termination.</u>  A Party may give 30-days written notification of termination of its participation in this Agreement to the other Party at any time and for any reason.  Termination of this Agreement, however, does not affect any Party’s obligations, duties or rights imposed or granted by separate instrument such as a grant or other contract.   </li><br>

          <li><u>Indemnification.</u>  Each Party agrees to release, indemnify, defend and hold harmless the other Party and its officers, directors, employees, representatives, volunteers, agents, and affiliates from any and all claims, suits, losses, damages, fines, penalties, liabilities, and expenses of any kind whatsoever that arise out of implementation of this Agreement, except for those that are a result of the indemnified Party’s sole negligence.  This indemnification specifically includes, but is not limited to, claims related to (i) the indemnifying Party’s improper sharing of data, (ii) improper use of data by the indemnifying Party or any of the indemnifying Party’s employees, volunteers, contractors, or agents, or (iii) breach of the indemnifying Party’s IT system as described in Section 4 of this Agreement.</li><br>

          <li><u>Assurances.</u>  The Parties agree that all activity pursuant to this Agreement shall be in accordance with this Agreement and all applicable current or future federal, state, and local laws, and all applicable rules and regulations.</li><br>

          <li><u>Entire Agreement.</u>  This Agreement constitutes the entire agreement among the Parties with respect to the subject matter hereof and supersedes any prior agreement or understanding among the parties with respect to such subject matter.</li><br>

          <li><u>Counterparts.</u>  This Agreement may be executed in one or more counterparts, all of which shall constitute one in the same instrument.</li><br>

          <li><u>Headings.</u>  The heading sections in this Agreement are for convenience of reference only, and shall not be deemed to alter or affect the meaning or interpretation of any provisions hereof.</li><br>

          <li><u>Construction.</u>  This Agreement shall be governed, construed and enforced according to the laws of the State of Washington without regard to any otherwise governing principals of conflicts of laws.  This Agreement shall be construed neutrally and not in favor or against any Party.</li><br>

          <li><u>Venue.</u>  Any action under this Agreement shall be brought in the Superior Court of the State of Washington in and for King County.</li><br>

          <li><u>Amendment.</u>  This Agreement shall not be modified or amended except as provided for specifically in this Agreement or by a written agreement executed by the Parties.</li><br>
      </ol>

			<div class="well">
				<form class="form-horizontal">
					<div class="row">
						<div class="col-xs-6">
              <div class="form-group">
								<label class="col-sm-10 control-label">PUGET SOUND EDUCATIONAL SERVICE DISTRICT</label>
							</div>

              <div class="form-group">
								<label class="col-sm-5 control-label">Signature</label>
								<div class="col-sm-7 input-container"><input class="form-control"></div>
							</div>
							<div class="form-group">
								<label class="col-sm-5 control-label">Printed Name</label>
								<div class="col-sm-7 input-container"><input class="form-control"></div>
							</div>

							<div class="form-group">
								<label class="col-sm-5 control-label">Title</label>
								<div class="col-sm-7 input-container"><input class="form-control"></div>
							</div>
							<div class="form-group">
								<label class="col-sm-5 control-label">Date</label>
								<div class="col-sm-7 input-container"><input class="form-control" value=<%= Time.now.strftime("%m/%d/%Y") %>></div>
							</div>
						</div>

						<div class="col-xs-6">
              <div class="form-group">
								<label class="col-sm-10 control-label"><%= @authorized_entity.name.upcase %> </label>
							</div>

							<div class="form-group">
								<label class="col-sm-4 control-label">Signature</label>
								<div class="col-sm-8 input-container"><input class="form-control"></div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label">Printed Name</label>
								<div class="col-sm-8 input-container"><input class="form-control"></div>
							</div>

							<div class="form-group">
								<label class="col-sm-4 control-label">Title</label>
								<div class="col-sm-8 input-container"><input class="form-control"></div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label">Date</label>
								<div class="col-sm-8 input-container"><input class="form-control" value=<%= Time.now.strftime("%m/%d/%Y") %>></div>
							</div>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>
</section>

<br>
<br>
