<%= breadcrumbs(:authorized_entities, @authorized_entity) %>

<div class="pull-right">
	<%= link_to glyph(:pencil, "Edit") + " Edit", [:edit, @authorized_entity], class: 'btn btn-primary' %>
</div>

<h1><%= @authorized_entity.name %></h1>

<%= raw_attributes @authorized_entity, class: "pull-right", title: "Raw Attributes" %>

<ul class="list-inline attribute-summary">
  <li><strong>Entity ID:</strong>			<%= @authorized_entity.id %></li>
	<li><strong>Main Contact:</strong>	<%= contact_information(@authorized_entity.mainContact) %></li>
</ul>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Services</h3>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Student Success Link Domain</th>
				<th colspan="2"></th>
			</tr>
		</thead>
		<tbody>
			<%= render partial: "authorized_entities/:authorized_entity_id/services/:id", collection: @services.items %>
		</tbody>
	</table>
</div>

<%= link_to glyph(:plus) + " Add Service", [:new, @authorized_entity, :service], class: 'btn btn-default' %>
