<tr class="<%= 'danger' if service.expired? %>">
	<td><%= check_box_tag "services[]", service.id %></td>
	<td><%= service.id %></td>
	<td><%= link_to AuthorizedEntity.find(service.authorizedEntityId).first.name, authorized_entity_path(service.authorizedEntityId) rescue service.name %>
		<small class="text-muted">#<%= service.authorizedEntityId %></small>
		</td>
	<td><%= link_to service.name, [@district, service] %>
		<small class="text-muted">#<%= service.externalServiceId %></small>
		</td>
	<td><%= service.initiationDate %></td>
	<td>
		<%= service.expirationDate %>
		<%= content_tag :span, "Expired", class: "label label-danger" if service.expired? %>
	</td>
	<td><%= link_to glyph('option-horizontal', 'Details'), [@district, service] %></td>
</tr>
