<tr class="<%= 'danger' if service.expired? %>">
	<td><%= service.id %></td>
	<td><%= link_to service.authorized_entity.name, [@district, service] %>
		<small class="text-muted">#<%= service.externalServiceId %></small>
		</td>
	<td><%= service[:initiationDate] %></td>
	<td>
		<%= service[:expirationDate] %>
		<%= content_tag :span, "Expired", class: "label label-danger" if service.expired? %>
	</td>
	<td><%= link_to "FERPA", [:consent_form, @district, services: [service.id]]%></td>
	<td><%= link_to glyph('option-horizontal', 'Details'), [@district, service] %></td>
</tr>
