<%= simple_form_for [@district, @service, @student], wrapper: :horizontal_form do |f| %>
	<%= f.error_notification %>
	<div class="form-inputs">
			<%= f.input :districtStudentId, label: "District Student ID(s)", hint: "Add no more than 10 student ID's separated by commas." %>
				<%= f.simple_fields_for :consent do |consent_form| -%>
					<%= consent_form.input :consentType, label: "Consent Type", collection: District::Student::ConsentTypes, selected: @student.consentType %>

					<%= consent_form.input :valid_date_range do %>
						<div class="input-daterange input-group">
							<%= consent_form.input_field :startDate, class: "form-control", placeholder: "Start Date", value: @student.consentStartDate %>
						    <span class="input-group-addon">to</span>
							<%= consent_form.input_field :endDate, class: "form-control", placeholder: "End Date", value: @student.consentEndDate %>
						</div>
					<% end %>
			<% end %>
		</div>

	<div class="form-actions">
		<%= f.button :submit %>
	</div>

<% end %>
