<tr class="<%= 'danger' if student.expired? %>">
	<td><%= student.id %></td>
	<td><%= student.districtStudentId %></td>
	<td><%= student.consentType %></td>
	<td><%= localize(student.consentStartDate, format: :short) %></td>
	<td>
		<%= localize(student.consentEndDate, format: :short) %>
		<%= content_tag :span, "Expired", class: "label label-danger" if student.expired? %>
	</td>

	<td><%= link_to glyph("list-alt", 'Filter Rules'), "#", { 'data-toggle' => "modal", 'data-target' => "#filtersModal" } %></td>
	<td><%= link_to glyph(:pencil, 'Edit'), [:edit, @district, @service, student] %></td>
	<td><%= link_to glyph(:trash, 'Destroy'), [@district, @service, student], method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>

<%=# render partial: "districts/students/filters", student_filtered: @student_filtered, layout: "layouts/modal", locals: {
		#id: "filtersModal", title: "Compiled Filter Rules", dialog_class: "modal-lg" }
		%>
