<tr>
	<td><%= student.id %></td>
	<td><%= student.districtStudentId %></td>
	<td><%= student.consent.try(:consentType) %></td>
	<td><%= student.consent.try(:consentStartDate) %></td>
	<td><%= student.consent.try(:consentEndDate) %></td>
	<td><%= link_to glyph(:pencil, 'Edit'), [:edit, @district, @service, student] %></td>
	<td><%= link_to glyph(:trash, 'Destroy'), [@district, @service, student], method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
