<tr class="<%= 'danger' if student.expired? %>">
	<td><%= student.id %></td>
	<td><%= student.districtStudentId %></td>
	<td><%= student.consentType %></td>
	<td><%= localize(student.consentStartDate, format: :short) %></td>
	<td>
		<%= localize(student.consentEndDate, format: :short) %>
		<%= content_tag :span, "Expired", class: "label label-danger" if student.expired? %>
	</td>

	<td><%= link_to glyph("list-alt", 'Filter Rules'), "#", class: "filtersModal", id: student.id, "data-toggle" => "modal", "data-target" => "#filters",
					"district-id" => @district.id, "service-id" => @service.id %></td>

	<td><%= link_to glyph(:pencil, 'Edit'), [:edit, @district, @service, student] %></td>
	<td><%= link_to glyph(:trash, 'Destroy'), [@district, @service, student], method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>

<!--  -->

		<!-- dom_id = "contactInformationPopover_#{contact.hash}"
    options.merge!({ role: "button", tabindex: 0, data: { toggle: "html-popover", trigger: "hover", source: "##{dom_id}", remote: "true" }})
    name_element = contact.try(:name).blank? ? "None" : contact.name
    link_to(name_element, "#", options) + render(
      partial: "layouts/contact_details", layout: "layouts/popover", object: contact,
      locals: { id: dom_id, title: (options[:title] || "Contact Information") }
    ) -->
