<%= simple_form_for @district, wrapper: :horizontal_form do |f| %>
	<%= f.error_notification %>

	<div class="form-inputs">
		<%= f.input :districtName, label: "District Name", hint: "Enter the official name of the district." %>
		<%= f.input :ncesleaCode, label: "NCES LEA Code", hint: "Look up the correct code in the #{link_to("NCES LEA Code Inventory", "https://inventory.data.gov/dataset/04da5aea-5366-46d6-92de-1c4901973494/resource/37e62816-d097-42c5-9ec9-6b56abe6c4c9", target: :blank)}.".html_safe %>
		<%= f.input :zoneID, label: "Zone ID", hint: "The SIF Zone ID where records should be routed for this district." %>

		<%= f.simple_fields_for :mainContact, f.object.mainContact do |contact| %>
			<h3>Main Contact Information</h3>
			<p>
				Specify contact information for the main contact related the data-sharing process.
				This information is used when generating parent consent forms.
			</p>

			<%= contact.input :name, required: false %>
			<%= contact.input :title, required: false %>
			<%= contact.input :email, required: false %>
			<%= contact.input :phone, required: false %>
			<%= contact.input :mailingAddress, required: false, label: "Mailing Address", hint: "Parents or organizations should send formal communications to this address related to data sharing or to revoke consent." %>
			<%= contact.input :webAddress, required: false, label: "Web Address", hint: "This web address may be specific to sharing student data, such as a web site that parents can access to learn more about the data-sharing process." %>
		<% end %>
	</div>

	<div class="form-actions" id="button">
		<%= f.button :submit %>
	</div>
<% end %>
