<section class="row">
	<div class="col-xs-2">
		<!-- <img src="" alt="<%= @district.name %>" class="district-logo"> -->
	</div>
	<div class="col-xs-8 text-center">
		<h3 class="district-title"><%= @district.name %></h3>
		<h1>Community-Based Organization Parent/Guardian Consent Form</h1>
		<h2><b>2016-2017</b> Approval</h2>
	</div>
	<div class="col-xs-2">
		<select class="pull-right"><option>English</option></select>
	</div>
</section>

<div class="row">
	<div class="col-xs-12">
		<div class="well clearfix <%= "less-than-three" if @services.size < 3 %>">
			<ul class="services">
				<%- for service in @services -%>
				<li>
					<address>
						<strong><%= service.authorizedEntityName %></strong><br>
						<code>Contact Person</code><br>
						<code>Contact Email/Phone</code><br>
					</address>
				</li>
				<% end %>
								
				<li>
					<address>
						<strong>Puget Sound Educational Service District</strong><br>
						Operator of the Student Success Link<br>
						info@studentsuccesslink.org<br>
					</address>
				</li>
			</ul>			
		</div>

		<h1 class="text-center">Consent to Release of Education Records Under the Family Education Rights and Privacy Act (FERPA)</h1>

		<p>I consent to the release of my child’s education records from the <%= @district.name %> to the above listed <%= "agency".pluralize(@services.count) %> and to the Puget Sound Educational Service District. I understand that education records include, but are not limited to:</p>

		<ol class="datasets clearfix">
			<%- for dataSet in @dataSets.first -%>
				<li>
					<strong><%= dataSet.name %></strong> &ndash;
					<%= dataSet.description %>
				</li>
			<% end %>
		</ol>

		<p>This release includes permission for the above-listed <%= "agency".pluralize(@services.count) %> staff to access my child’s academic records using an automated data feed through <%= @district.name %>.</p>

		<p>I understand that the purpose of sharing these records is to keep the above-listed <%= "agency".pluralize(@services.count) %> staff informed of my child’s academic program and progress. Agency staff will work with my child and/or his/her school in an effort to improve my child’s success at school. The Puget Sound Educational Service District will only be granted access to the above educational records for the purpose of hosting a secure database (“Student Success Link”) through which the above-listed <%= "agency".pluralize(@services.count) %> may access data.  I further understand that the above-listed <%= "agency".pluralize(@services.count) %> and Puget Sound Educational Service District may use de-identified student information, which cannot be connected to my child, for program planning, improvement and evaluation and grant applications and reporting. </p>

		<p>I acknowledge that I may revoke this consent by sending a written notification to the <code>Seattle School District’s School &amp; Community Partnership Department, MS: 32-159 P.O. Box 34165 Seattle, WA 98124.</code></p>
		
		<p>I further give my consent for the above-listed <%= "agency".pluralize(@services.count) %> to share in which of their programs my child participates with (1) <%= @district.name %> and (2) the other Student Success Link partners who also serve my child. A current list of all Student Success Link partners is available at <a href="studentsuccesslink.org/partners">studentsuccesslink.org/partners</a>. I acknowledge that I may revoke my consent to share my child’s program/services participation information by sending a written notification to help@studentsuccesslink.org or by mail to Puget Sound ESD, Personalized Learning Department, 800 Oakesdale Ave SW, Renton, WA 98057.</p>

		<p>This Release of Information will make the above-listed educational records, which includes historical student data, available to agency staff from the date of consenting signature until <b><%= @services.first.expirationDate.to_s(:long) %></b>.</p>

		<div class="well">
			<p>I consent to <%= @district.name %> releasing information to the above listed <%= "agency".pluralize(@services.count) %> and to the Puget Sound Educational Service District, and for the above-listed <%= "agency".pluralize(@services.count) %> to share my child’s program participation information with the <%= @district.name %> and other Student Success Link partners <em>(please print clearly)</em>:</p>

			<form class="form-horizontal">
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="col-sm-5 control-label">
								Parent/Guardian Signature <small>(if youth is 17 or younger)</small></label>
							<div class="col-sm-7 input-container"><input class="form-control"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-5 control-label">Parent/Guardian Printed Name</label>
							<div class="col-sm-7 input-container"><input class="form-control"></div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-5 control-label">PRINT Student's Full Name</label>
							<div class="col-sm-7 input-container"><input class="form-control"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-5 control-label">Student School District ID #</label>
							<div class="col-sm-7 input-container"><input class="form-control"></div>							
						</div>
					</div>
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="col-sm-4 control-label">Student's Signature <small>(if youth is 18 or older)</small></label>
							<div class="col-sm-8 input-container"><input class="form-control"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Today's Date</label>
							<div class="col-sm-8 input-container"><input class="form-control"></div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-4 control-label">Student's Date of Birth</label>
							<div class="col-sm-8 input-container"><input class="form-control"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Student's School</label>
							<div class="col-sm-8 input-container"><input class="form-control"></div>
						</div>
					</div>
				</div>
				
				<small class="help-block">
					Student ID # can be found on Student ASB card, report card, official
					school mailing, or by contacting your student’s school.
				</small>
			</form>
		</div>

		<p>For more information please refer to <code><u>www.seattleschools.org/communitypartnerships</u></code>.</p>
	</div>
	
</div>
