<%= breadcrumbs(:districts, @district) %>

<div class="pull-right">
	<%= link_to glyph(:pencil, "Edit") + " Edit", [:edit, @district], class: 'btn btn-primary' %>
</div>

<h1><%= @district.name %></h1>
<ul class="list-inline attribute-summary">
  <li><strong>District ID:</strong> 		<%= @district.id %></li>
  <li><strong>NCES LEA Code:</strong> 		<%= @district.ncesleaCode %></li>
  <li><strong>Zone ID:</strong> 			<samp><%= @district.zoneID %></samp></li>
</ul>

<%= form_tag [:consent_form, @district], method: :get do %>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Service Authorizations</h3>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th><%= check_box_tag "select_all" %></th>
					<th>ID</th>
					<th>Authorized Entity</th>
					<th>Service</th>
					<th>Initiation Date</th>
					<th>Expiration Date</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<%= render partial: "districts/services/service", collection: @district.services.items %>
			</tbody>
		</table>
	</div>

	<%= link_to glyph(:plus) + " Authorize another service", [:new, @district, :service], class: 'btn btn-default' %>
  <%= link_to_submit glyph(:edit) + " Generate consent form", class: 'btn btn-info pull-right disabled' %>
<% end %>

<p>
  <%= raw_attributes @district, class: "pull-right", title: "Raw Attributes" if Rails.env.development? %>
</p>
