<%= simple_form_for [@data_set, (@data_object || form)], wrapper: :horizontal_form do |f| %>
	<%= f.error_notification %>

	<div class="form-inputs">
		<%= f.input :sifObjectName, collection: %w[xSre sre], label: "SIF Object" %>
		<%= f.input :includeStatement, label: "XPath", hint: "Any valid xPath is allowed: simple selectors like <code>/name</code> or complex queries like <code>/specialEducation[boolean(exitDate)=false]/startDate</code>".html_safe %>
		<%= f.input :filterType, as: 'radio_buttons', collection: %w[Include Exclude] %>
	</div>

	<div class="form-actions">
		<%= f.button :submit %>
	</div>
<% end %>
